<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63137F841A87810400E97F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63137F8F1A87810400E97F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>635BA04E1A8C7B76003D700F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>635BA0581A8C7B77003D700F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
